<?xml version="1.0" encoding="UTF-8"?>
<schemalist>
  <schema path="{{slashed_project_id}}" id="{{project_id}}">
    <key name="dark" type="b">
      <default>false</default>
      <summary>If on a dark background</summary>
      <description>If on a dark background</description>
    </key>
    <key name="window-maximized" type="b">
      <default>false</default>
      <summary>Maximized</summary>
      <description>Whether the window is maximized</description>
    </key>
    <key name="window-position" type="(ii)">
      <default>(1024, 750)</default>
      <summary>Window position</summary>
      <description>Most recent window position (x, y)</description>
    </key>
    <key name="window-size" type="(ii)">
      <default>(-1, -1)</default>
      <summary>Window size</summary>
      <description>Most recent window size (width, height)</description>
    </key>
  </schema>
</schemalist>
