[Desktop Entry]
Name={{project_name}}
GenericName={{project_generic_name}}
Comment={{project_summary}}
Categories={{for category in categories}}{{category}};{{end}}
Exec={{project_id}}
Icon={{project_id}}
Terminal=false
Type=Application
X-GNOME-Gettext-Domain={{project_id}}
Keywords={{project_keywords}}
